
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://www.google.com/recaptcha/api.js?render=6LeJ5v8UAAAAAHd1O9DSIO277B__6o7UO7wdVX0e"></script>
    
    <title>V3 reCaptcha form</title>
    </head>
    <body>
    <div class="ui raised very padded text container segment" style="margin-top:4em">
        <h2 class="ui header">V3 reCaptcha Form</h2>
        <form class="ui form" id="verifyForm">
            <div class="field">
              <label>First Name</label>
              <input type="text" name="first-name" id="first-name" placeholder="First Name">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input type="text" name="last-name"  id="last-name" placeholder="Last Name">
            </div>
            <button class="ui button" type="submit">Submit</button>
          </form>  
    </div>  
    
    <script>
        document.getElementById('verifyForm').addEventListener('submit',runVerify);

        function runVerify(e){
            e.preventDefault();
            runCaptcha();
        }

        function runCaptcha(){
            grecaptcha.execute('6LeJ5v8UAAAAAHd1O9DSIO277B__6o7UO7wdVX0e', {action: 'homepage'}).then(function(token) {
    
            const firstName = document.querySelector('#first-name');
            const lastName = document.querySelector('#last-name');
            console.log('lastName:',lastName)
            const captcha = token;
            console.log('token :',token)

            sendData(firstName, lastName, captcha)    

        });

        function sendData(firstName, lastName, captcha){
             
            const info = JSON.stringify({firstName:firstName,lastName:lastName,captcha:captcha});

            fetch('/verify',{
                method: 'POST',
                headers:{
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    
                },
                body:info
                }).then(res => res.json())
                .then(data => { alert("msg: " + data.msg + ", success: " + data.success + ", score: " + data.score)}) 
        }
    
        }
    </script> 
    
    </body>
    </html>
    